.schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--hr-color);
  margin-top: 15px;
  padding-top: 25px;
  padding-left: 15px;
}

.schedule__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.schedule__text {
  font-size: 18px;
}

.schedule__dash {
  width: 40px;
  border: 1px solid #000;
}

.schedule__styling {
  display: flex;
}

.schedule__dropdown {
  background-color: #f7f7f7;
  padding: 14px 18px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #c2c2c2;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.schedule__dropdown:focus {
  outline: none;
}

.extra {
  background-color: #f7f7f7;
  width: 20px;
  border: 1px solid #c2c2c2;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.schedule__test {
  background-color: #fff;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  font-size: 18px;
  padding: 18px;
  color: var(--text-color);
  cursor: pointer;
}
