body {
  --text-color: #2697fe;
  --lignt-text-color: #9c9c9c;
  --grey-color: #c2c2c2;
  --notify-color: #ff008a;
  --border-color: #d2d2d2;
  --dashboard-text-color: #8e8e8e;
  --icon-background: #a3a3a3;
  --hr-color: #c2bbbb;

  font-family: "Railway", "sans-serif";
}

.app {
  display: flex;
  height: 100vh;
}
